<section class="section bg-light" id="gallery">
    <div class="container">
      <h2 class="section-title">하이라이트 갤러리</h2>
      <div class="row">
        <div class="col-4">
          <div class="gallery-item">
            <img src="images/gallery/gallery1.jpg" alt="골프 이미지 1" class="img-fluid">
          </div>
        </div>
        <div class="col-4">
          <div class="gallery-item">
            <img src="images/gallery/gallery2.jpg" alt="골프 이미지 2" class="img-fluid">
          </div>
        </div>
        <div class="col-4">
          <div class="gallery-item">
            <img src="images/gallery/gallery3.jpg" alt="골프 이미지 3" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="#" class="btn btn-primary">더 많은 사진 보기</a>
      </div>
    </div>
  </section>