<nav class="navbar">
    <div class="container">
      <a href="index.html" class="navbar-brand">청구<span>회</span></a>
      <ul class="nav-menu">
        <li class="nav-item"><a href="index.html" class="nav-link" id="nav-home">홈</a></li>
        <li class="nav-item"><a href="apply.html" class="nav-link" id="nav-apply">참가신청</a></li>
        <li class="nav-item"><a href="applications.html" class="nav-link" id="nav-applications">신청자 명단</a></li>
        <li class="nav-item"><a href="pairing.html" class="nav-link" id="nav-pairing">조편성</a></li>
        <li class="nav-item"><a href="mypage.html" class="nav-link" id="nav-mypage">마이페이지</a></li>
        <li class="nav-item"><a href="statistics.html" class="nav-link" id="nav-statistics">통계</a></li>
      </ul>
    </div>
  </nav>